# --- Genel Derleme Dosyaları ---
target/
*.class
*.jar
*.log

# --- IntelliJ IDEA Dosyaları ---
.idea/
*.iml
*.iws

# --- Eclipse Dosyaları ---
.classpath
.project
.settings/
bin/

# --- İşletim Sistemi ---
.DS_Store
Thumbs.db